<div class="container-fluid">
	<div class="row">
	  <!-- blog post listing -->
		<div class="col-xs-2">
			<table class='table'>
				<thead>
					<tr><th>Subjects</th></tr>
				</thead>
				<tbody>
				{{#each pagedContent as |post|}}
				<tr><td>
					{{#link-to 'post' post}}
						&bull; {{post.title}}
					{{/link-to}}
				</td></tr>
				{{/each}}
				</tbody>
			</table>
      {{page-numbers content=pagedContent}}
			<button {{action 'createPost'}}>Create</button> {{input type="text" value=query placeholder="Filter Subjects" autofocus="autofocus"}}
		</div>

		<!-- blog post content -->
		<div class="col-xs-10">
			{{yield}}
		</div>
	</div>
</div>
